.explorecontainer {
    display: grid;
    grid-template-columns: 15% 1fr; /* Sidebar and content split */
}

.exploreposts {
    display:flex;
   flex-wrap: wrap;
    padding: 10px;
    margin-top: 1300px;
}

.explorepost {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    box-sizing: border-box;
}

.post-image1 {
    /* width: 100%; */
    width: 400px; /* Ensures image doesn't overflow */
    height: auto; /* Maintains aspect ratio */
    min-width: 200px; /* Ensures the image has a minimum width */
    object-fit: cover; /* Prevents distortion of the image */
}

.post-image2 {
    /* width: 100%; */
    width: 400px; /* Ensures image doesn't overflow */
    height: 400px;
    object-fit: cover; /* Prevents distortion of the image */
}

.post-video2{
 width: 400px;
 max-height: 400px;
}