/* App.css */

/* Ensure the app container takes full height and width */
.home-container{
  display: flex;
    flex-direction: row;
    min-height: 100vh;
    margin: 0px;
    /* margin-left: -300px; */
    width: 100vw;
    background-color: black; /* Set the background to black */
    color: #fff;
  
  
  
}

/* Sidebar: set to full height */
.sidebar {
  margin-right: 0px;
  width: 10px; /* Adjust the width as per requirement */
  height: 100vh; /* Set height to 100% of the viewport */
  background-color: #000000ce;
  padding: 25px;
  border-right: 1px solid #dbdbdb;
  display: flex;
  flex-direction: column; /* Ensures items are stacked vertically */
  /* justify-content: flex-start; Align items at the top */
  
  
}

/* Other styles remain the same */
.sidebar h1 {
  font-size: 24px;
  margin-bottom: 20px;
  padding: 15px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px; /* Add some spacing below the heading */
}

.sidebar button {
  padding: 15px 30px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  justify-items: center;
  
}
.sidebar img {
  background-color: #fff;
}


/* Main Feed */
.main-feed {
  width: 65%;
  height: 100vh;
  background-color: #000000ce;
  padding: 20px;
  
  
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.story {
  width: 80px;
  height: 80px;
  background-color: #eeeeee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #000000;
}

.post {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.profile-picture {
  width: 40px;
  height: 40px;
  background-color: #dbdbdb;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-info p {
  font-weight: bold;
}

.post-image img {
  width: 100%;
  height: auto;
  display: block;
}

/* Suggestions */
.suggestions {
  width: 25%;
  background-color: #000000ce;
  padding: 20px;
  border-left: 1px solid #dbdbdb;
  margin-right: -50px;
  
}

.suggestions p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.suggestions ul {
  list-style-type: none;
  padding: 10px 30px;
 
  
}

.suggestions li {
  padding: 10px 0;
  font-size: 16px;
  cursor: pointer;
  color: #ffffff;
  margin-right: -260px;
  
}
.follower-picture {
  width: 80px;
  height: 80px;
  background-color: #eeeeee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 20px;
  
}
#follow {
  color: rgb(7, 69, 135);
}