body {
  background-color:  rgb(69, 49, 56);
  background-image: 
      radial-gradient(at 40% 30%, rgb(183, 36, 91) 0, transparent 59%), 
      radial-gradient(at 60% 65%,  rgb(183, 36, 91) 0, transparent 55%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.home-container{
   display: grid;
    margin: 0px;
    grid-template-columns: 15% 70% 15%;
    /* background-color: #7236d4;
    background-image: 
        radial-gradient(at 47% 33%, hsl(279.74, 62%, 49%) 0, transparent 95%), 
        radial-gradient(at 82% 65%, hsl(314.84, 73%, 49%) 0, transparent 95%);
    color: #fff;
    background-attachment: fixed; 
   background-size: cover; */
  
  
}
.menu{
  grid-column: 1/1;
}

/* Sidebar: set to full height */
.sidebar {
  margin-right: 0px;
  width: 10px; /* Adjust the width as per requirement */
  height: 100vh; /* Set height to 100% of the viewport */
  background-color: #000000ce;
  padding: 25px;
  border-right: 1px solid #dbdbdb;
  display: flex;
  flex-direction: column; /* Ensures items are stacked vertically */
  /* justify-content: flex-start; Align items at the top */
  
  
}

/* Other styles remain the same */
.sidebar h1 {
  font-size: 24px;
  margin-bottom: 20px;
  padding: 15px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px; /* Add some spacing below the heading */
}

.sidebar button {
  padding: 15px 30px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  justify-items: center;
  
}
.sidebar img {
  background-color: #fff;
}


/* Main Feed */
.main-feed {
  grid-column: 2/2;
  /* width: 75%; */
  height: 100vh;
  /* margin-left: -100PX; */
  /* background-color: #000000ce; */
  padding: 20px;
  justify-content: center;
  align-items: center;
 
  
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.story {
  width: 80px;
  height: 80px;
  background-color: #eeeeee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #000000;
}
.posts{
  overflow: hidden;
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.post {
  /* background-color: #fff; */
  border: 1px solid #dbdbdb;
  width: 80%;
  margin-bottom: 20px;
  border-radius: 3px;
  color: #fff;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.profile-picture {
  width: 40px;
  height: 40px;
  background-color: #dbdbdb;
  border-radius: 50%;
  margin-right: 10px;
}
.profile-picture > img{
  border-radius: 50%;
}

.profile-info p {
  font-weight: bold;
}

.post-image img {
  width: auto;
  height: auto;
  display: block;
}
.post-image{
  display: flex;
  justify-content: center;
  align-items: center;
}
.postDescription{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}
.likeandcomment{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Suggestions */
.suggestions {
  grid-column: 3/3;
  width: 150px; 
  height: 100%;
  /* background-color: #000000ce; */
  padding: 0px;
  border-left: 1px solid #dbdbdb;
  margin-right: -100px;
  position: fixed;
  right: 320px;

}

.suggestions p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  width: 200px;
  font-style: italic;
}

.suggestions ul {
  list-style-type: none;
  padding: 10px 30px;
 
  
}

.suggestions li {
  padding: 10px 0;
  font-size: 16px;
  cursor: pointer;
  color: #ffffff;
  margin-right: -260px;
  
}
.follower-picture {
  width: 80px;
  height: 80px;
  background-color: #eeeeee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 20px;
  
}
#follow {
  color: rgb(7, 69, 135);
}


/* .autoshow{
  animation: autoshowAnimation;
  animation-timeline: view(5% auto);
}

@keyframes autoshowAnimation{
  from{
    opacity: 0.8;
    transform: translateY(200px) scale(0.95);
  }to{
    opacity: 1;
    transform: translateY(0) scale(1);
  }
} */
.captions{
  color: #fff;
}

.menu1{
  display: flex !important;
  position: fixed !important;
  /* top: 0 !important;
  left: 0 !important; */
  /* background-color: black !important; */
  height: 100vh !important;
  flex-direction: column !important;
  width: 15% !important;
  padding: 40px 20px !important;
}
.usercard1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px 15px -35px;
  transition: background-color 0.3s;
  width: 400px;
  padding: 10px;
  border-radius: 5px;
}
.usercard1 > button{
  background-color: blue;
  color:white;
  width: 70px;
  border: none;
  border-radius: 5%;
  padding: 5px;
  margin-left: -40px;
}
.suggestion-header{
  font-style: italic;
  font-size: 25px !important;
  width: 260px !important; 

}