* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes annimate {
  from{
      transform: translateY(600px);
  } to{
      transform: translateY(0px);
  }
}
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
  height: 100vh;
  width: 100vw;
  
  /* background: url('../assets/background/blurry-gradient-haikei.png') no-repeat center center/cover; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_login{
  width: 100vw;
  height: 100vh;
  margin: 0px;
  background-color: #7236d4;
  background-image: 
      radial-gradient(at 47% 33%, hsl(279.74, 62%, 49%) 0, transparent 95%), 
      radial-gradient(at 82% 65%, hsl(314.84, 73%, 49%) 0, transparent 95%);
  background-attachment: fixed; /* This will make the background image stationary */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container-login {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  /* background: rgba(17, 1, 1, 0.498); */
  padding: 10px 40px 10px 40px;
  width: 600px;
  /* height: 500px; */
  text-align: center;
  /* height: 100vh; */
  border-radius: 12px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
}

.logo{
  height: 60px;
}

.field {
  position: relative;
  text-align: left;
  margin-bottom: 5px; /* Added more space between fields */
}

.field label {
  display: block;
  font-size: 14px;
  color: #999;
}

.field input {
  width: 100%;
  padding: 14px;
  font-size: 14px;
  border: 1px solid #ccc;
  outline: none;
  background-color: rgba(255, 255, 255, 0); 
}
/* Autofill background color fix */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset;
  box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset;
  -webkit-text-fill-color: #fff; /* Adjust text color for autofill */
  transition: background-color 5000s ease-in-out 0s;
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: rgba(255, 255, 255, 0) !important; 
  color: #fff !important;
}

/* Regular input field styles */
.field input {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border: 1px solid #ccc;
  outline: none;
  background-color: rgba(255, 255, 255, 0); /* Transparent background */
  color: #fff; /* White text color */
}

.field input::placeholder {
  color: rgba(255, 255, 255, 0.6); /* Placeholder text color */
}


.field input:focus + label,
.field input:not(:placeholder-shown) + label {
  font-size: 12px;
   color: #fff; 
}

.login-button {
  width: 100%;
  padding: 12px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
  background-color: #e94560;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.login-button:hover {
  background-color: #d8344c;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  color: #fff;
}

.separator .line {
  height: 1px;
  width: 100%;
  background-color: #ccc;
}

.fb-login-btn {
  width: 100%;
  padding: 12px;
  background-color: #4267B2;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fb-login-btn:hover {
  background-color: #365899;
}

.fb-menubuttons {
  margin-right: 10px;
}

.forgot-password {
  font-size: 14px;
  color: red;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.box2 {
  margin-top: 20px;
  color: #fff;
}

.signup1 {
  color:red;
  text-decoration: none;
}

.signup1:hover {
  text-decoration: underline;
}

.field ::placeholder{
  color:#ffffffcc !important;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
}
