.more-collector{
    margin-left: 15%;
    display: flex;
   

}
.more-nav{
    display: flex;
    flex-direction: column;
    width: 15%;
    padding: 10px;
    height: 100vh;
    border-right: 2px solid black;

}