 /* Menu Styling */
 .menu {
  display: flex !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  /* background-color: black !important; */
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  height: 100vh !important;
  flex-direction: column !important;
  width: 15% !important;
  margin-right: 15%;
  padding: 40px 20px !important;
}

.menu-button {
  display: flex !important;
  align-items: center !important;
  background: none !important;
  border: none !important;
  color: #fff !important;
  font-size: 16px !important;
  margin: 15px 0 !important;
  padding: 10px !important;
  cursor: pointer !important;
  border-radius: 10px !important;
  transition: background-color 0.3s !important;
}

.menu-button img {
  width: 24px !important;
  margin-right: 10px !important;
}

.menu-button:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}
